header {
    background: $color-white;
    padding: 10px 20px;
    width: 100%;
    text-align: center;
    display: flex-start;
}
  
header img {
    width: 20px;
    height: auto;
    padding: 10px;
}